.pagination {
  padding: $pagination-padding;
  @include set-text-styles($pagination-font...);

  &__load-more {
    display: none;
    margin: 0 auto;
    padding: $pagination-load-more-padding;
    @include set-text-styles($pagination-load-more-font...);
    text-decoration: none;
  }

  &__list {
    list-style: none;
    padding: 0;
  }

  &__item {
    display: inline;
  }

  &__link {
    display: inline-block;
    text-decoration: none;
    padding: $pagination-link-padding;

    &.is-active {
      @include set-text-styles($pagination-link-active-font...);
      color: $pagination-link-active-color;
    }
  }

  &__item.disabled a {
    color: $pagination-item-disabled-color;
  }

  &__prev,
  &__next {
    position: relative;
    min-width: $pagination-control-min-width;
    text-indent: -999em;

    &:after {
      position: absolute;
      @include position($pagination-control-icon-position...);
      margin: $pagination-control-icon-margin;
      border-width: nth($pagination-control-icon-size, 1);
    }
  }

  &__prev {
    left: -7px;

    &:after {
      @extend %arrow-left;
      border-right-width: nth($pagination-control-icon-size, 2);
    }
  }

  &__next {
    left: 7px;

    &:after {
      @extend %arrow-right;
      border-left-width: nth($pagination-control-icon-size, 2);
    }
  }

  &__hidex {
    position: absolute;
    left: -9999rem;
  }

  @media screen and (max-width: $pagination-breakpoint) {
    &__list {
      display: none;
    }

    &__load-more {
      display: inline-block;
    }
  }

  @media screen and (max-width: $mobile) {
    background: $pagination-mobile-bg-color;
  }
}