.pie {
  canvas {
    display: inline-block;
    vertical-align: middle;
    //background: #eee;
    //fill: $color-primary-1;
  }

  &[data-positive="false"] {
    canvas {
      //fill: $color-secondary-6;
      -moz-transform: scaleX(-1);
      -o-transform: scaleX(-1);
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
      filter: FlipH;
      -ms-filter: "FlipH";
    }
  }
}