.twitter-module {
  $rail-twitter-icon-bg-color: $color-white !default;

  $rail-twitter-display-name-color: $color-darker !default;
  $rail-twitter-display-name-hover-color: $rail-twitter-display-name-color !default;
  $rail-twitter-id-color: $color-secondary-7 !default;
  $rail-twitter-id-hover-color: $color-primary-3 !default;
  $rail-twitter-date-color: $color-dark !default;

  $rail-twitter-headline-margin: 0 0 20px !default;
  $rail-twitter-icon-size: 36px !default;
  $rail-twitter-icon-margin: 0 10px 0 0 !default;
  $rail-twitter-tweet-margin: 10px 0 30px !default;
  $rail-twitter-tweet-padding: 0 0 30px !default;

  $rail-twitter-icon-border: solid 1px $color-light !default;
  $rail-twitter-tweet-border: solid 1px $color-medium !default;

  $rail-twitter-headline-font: 16 700 null uppercase !default;
  $rail-twitter-list-font: 14 !default;
  $rail-twitter-display-name-font: null 700 !default;
  $rail-twitter-id-font: null 200 !default;

  $rail-twitter-headline-mobile-font: 14 !default;

  .latest-tweets {
    &__headline {
      margin: $rail-twitter-headline-margin;
      @include set-text-styles($rail-twitter-headline-font...);
    }

    &__list {
      @extend %list--unstyled;
      @include set-text-styles($rail-twitter-list-font...);
    }

    &__header {
      position: relative;
    }

    &__icon {
      float: left;
      @include size($rail-twitter-icon-size...);
      overflow: hidden;
      margin: $rail-twitter-icon-margin;
      background-color: $rail-twitter-icon-bg-color;
      border: $rail-twitter-icon-border;
    }

    &__link {
      display: block;
      overflow: hidden;
      line-height: 1.3;
      text-decoration: none;

      &:hover {
        text-decoration: none;

        .latest-tweets__display-name {
          color: $rail-twitter-display-name-hover-color;
        }
        .latest-tweets__id {
          color: $rail-twitter-id-hover-color;
        }
      }
    }

    &__display-name {
      @include set-text-styles($rail-twitter-display-name-font...);
      color: $rail-twitter-display-name-color;
    }

    &__id {
      display: block;
      @include set-text-styles($rail-twitter-id-font...);
      color: $rail-twitter-id-color;
    }

    &__date {
      position: absolute;
      top: 0;
      right: 0;
      color: $rail-twitter-date-color;
    }

    &__tweet {
      margin: $rail-twitter-tweet-margin;
      padding: $rail-twitter-tweet-padding;
      border-bottom: $rail-twitter-tweet-border;
    }

    // MOBILE
    @media screen and (max-width: $mobile) {
      &__headline {
        @include set-text-styles($rail-twitter-headline-mobile-font...);
      }
    }
  }
}

