@mixin size($width, $height: $width, $useCalc: false) {
  @if ($useCalc and $old-ie == false) {
    width: calc(#{$width});
  } @else {
    width: $width;
  }

  @if ($height != false) {
    height: $height;
  }
}